body{
    color: blueviolet;
    text-decoration: none;
    text-align: center;
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#all-members{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
form{
    color: blanchedalmond;
}
mark{
    background-color: blanchedalmond;
    color: black;
}
p{
    padding-left: 25%;
    padding-right: 25%;
}
.topnav{   
    text-align: left; 
    padding-left: 15%;
}
.topnav a{
    text-decoration: none;
    color: black;
    padding-right: 5%;
}
.topnav a:hover{
    text-decoration: underline;
    color: thistle;
    rotate: 10deg;
}
span{
    transform: rotateY(10deg);
}
#all-members{
    background: url(https://cdn.wallpapersafari.com/84/76/85eaC3.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.topnav{
    background-color: blanchedalmond;
    display: flex;
   /* align-items: center;*/
    flex-direction: column;
    justify-content: center;
    transform: rotate(10);
    height: 5vh;
    width: 100vw;
}
#fname {
    background: transparent;
    padding: 1%;
    height: 30px;
    width: 200px;
    border-radius: 10px;
}
#lname {
    background: transparent;
    padding: 1%;
    height: 30px;
    width: 200px;
    border-radius: 10px;
}
#submit {
    background: transparent;
    color: antiquewhite;
    padding: 1%;
    height: 30px;
    width: 100px;
    border-radius: 10px;
}