.rm{
    background: url(https://wallpaperaccess.com/full/3615441.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.jin{
    background: url(https://wallpapercave.com/wp/wp4571834.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.suga{
    background: url(https://e0.pxfuel.com/wallpapers/503/212/desktop-wallpaper-suga-bts-naver-x-dispatch-2019-white-day.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.hobi{
    background: url(https://wallpapercave.com/wp/wp9201228.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.jimin{
    background: url(https://wallpaperaccess.com/full/646580.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.v{
    background: url(https://a-static.besthdwallpaper.com/bts-v-kim-taehyung-in-proof-album-photoshoot-wallpaper-3840x1280-100833_105.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.jk{
    background: url(https://wallpapercave.com/wp/wp4414942.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}